@model LoginModel;

@{
    Layout = "_LayoutDesLogado";
    ViewData["Title"] = "Curriculo/Login";
}

<body class="container-pai">
    <br />
   
        <header class="curriculo-header">
            <ul class="curriculo-header-ul">
                <li>
                    <a href="https://www.linkedin.com/in/andrey-souza-b34817142/" alt="linkedin" target="_blank">
                        <img class="link-img"  src="~/Imagem/link-linkedin.png" alt="logo-linkedin" style="height: 70px; padding: 7px;"/>
                    </a> 
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send?phone=5513992095436&text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas." alt="WhatsApp" target="_blank">
                        <img class="link-img"  src="~/Imagem/link-whatsapp.png" alt="logo whatsapp" style="height: 70px; padding: 7px;"/>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/andreicode-lofi" alt="Github" target="_blank">
                        <img class="link-img"  src="~/Imagem/link-github.png" alt="logo Git hub" style="height: 70px; padding: 7px;" / >
                    </a>
                </li>
            </ul>
            <h1 class="curriculo-h1">Andrey Souza
                <p class="paragrafo-h1">Desenvolvedor .Net</p>
            </h1>
        
        </header>

    <main>
        <section>
            <div>
                <div id="container-flexbox-1">

                    <div class="container-conteudo">
                        <h3 class="curriculo-h3">Resumo</h3>
                        <img src="~/Imagem/resumo-img-conteudo.png" class="conteudo-img-esquerda" />
                            <h4 class="subtitulo-conteudo"><b>Resumo Sobre mim</b></h4>
                                
                                <p class="curriculo-p">
                                    Sou um apaixonado desenvolvedor de software com uma sólida expertise em tecnologias .NET Core,
                                    concentrando-me especialmente no desenvolvimento de soluções robustas para o backend.
                                    Minha jornada profissional é marcada pela entrega consistente de produtos de alta qualidade,
                                    alcançada através da resolução eficiente de desafios complexos. Com uma mentalidade orientada
                                    para resultados e uma paixão pela inovação tecnológica, estou constantemente buscando aprimorar minhas habilidades
                                    e conhecimentos para permanecer na vanguarda da indústria de desenvolvimento de software.
                                    Minha abordagem metódica para o desenvolvimento de software me permite criar sistemas escaláveis e eficientes,
                                    enquanto minha capacidade de colaboração e comunicação facilita o trabalho em equipe e a entrega de
                                    projetos dentro dos prazos estabelecidos. Ao longo dos anos, adquiri uma profunda compreensão das melhores
                                    práticas de engenharia de software e estou sempre ansioso para enfrentar novos desafios que ampliem meus horizontes
                                    e contribuam para o sucesso da equipe e da organização.
                                </p>
                    </div>

                
                     <div class="container-conteudo">
                        <h3 class="curriculo-h3">Experiência Profissional</h3>
                            <img src="~/Imagem/experienciaPro-img-conteudo.png" class="conteudo-img-esquerda" />
                            <h4 class="subtitulo-conteudo"><b class="subtitulo-conteudo">Código Central</b></h4>
                           
                                <p class="curriculo-p"><b>Programador c sharp | 2022 a 2023</b></p>
                                    <ul class="lista-curriculo">
                                        <li>Desenvolvi e mantive aplicações .NET,
                                            demonstrando habilidades sólidas em linguagens
                                            como C#.
                                        </li>
                                        <br />
                                        <li>
                                            Implementei funcionalidades e melhorias em
                                            aplicações existentes, garantindo alto desempenho
                                            e eficiência.
                                        </li>
                                        <br />
                                        <li>
                                            Trabalhei no desenvolvimento de APIs RESTful
                                            usando ASP.NET Web API, proporcionando
                                            integração eficiente entre diferentes sistemas.
                                        </li>
                                        <br />
                                        <li>
                                            Demonstrei habilidades em solução de problemas,
                                            identificando e corrigindo bugs de forma eficiente
                                            durante o ciclo de desenvolvimento.
                                        </li>
                                        <br />
                                        <li>
                                            Colaborei efetivamente em equipes ágeis para o
                                            desenvolvimento de soluções inovadoras usando a
                                            plataforma .NET.
                                        </li>
                                    </ul>
                    </div>
                </div>

                <div id="container-flexbox-1">
                    <div class="container-conteudo">
                        <h3 class="curriculo-h3">Formação</h3>
                        <img src="~/Imagem/formacao-img-conteudo.png" class="conteudo-img-esquerda" />
                          
                            
                            <p class="curriculo-p">

                            <b class="subtitulo-conteudo">ALURA:</b> Lógica de programação<br />
                                Programão Orientada a Objetos<br />
                                Html Css e javascript<br />
                                2020 – 2022
                            </p>
                           
                            <p class="curriculo-p">
                            <b class="subtitulo-conteudo">UDEMY:</b>.net web api<br />
                                Sql (Structured Query Language)<br />
                                Blazo framework<br />
                                Asp.net MVC framework<br />
                                2021 – 2023
                            </p>

                           
                            <p class="curriculo-p">
                            <b class="subtitulo-conteudo">ANHAGUERA EDUCACIONAL PARTICIPAÇÕES:</b> Análise e desenvolvimento de sistemas
                                2023 – Cursando
                            </p>
                    </div>

                    <div class="container-conteudo">
                        <h3 class="curriculo-h3">Habilidades</h3>
                        <img src="~/Imagem/habilidade-img-conteudo.png" class="conteudo-img-esquerda" />
                            <h4 class="subtitulo-conteudo"><b>Habilidades que eu adquiri.</b></h4>
                       
                            <ul class="lista-curriculo">
                                <li>Conhecimento. Api rest, DDD, Clean arch, arch hexagonal.</li>
                                <li>Conhecimento no desenvolvimento web aplicativos (asp.net).</li>
                                <li>Conhecimento no desenvolvimento de aplicativos Blazor.</li>
                                <li>Html Css e javascript.</li>
                                <li>c sharp language.</ol>
                                <li>Sql (Structured Query Language).</li>
                                <li>Trabalho em equipe.</li>
                                <li>Git Git Lab e GitHub.</li>
                                <li>>Teste Unitário.</li>
                            </ul>
                    </div>
                </div>

                <div id="container-flexbox-1">
                    <div class="container-conteudo">
                        <h3 class="curriculo-h3">EXTRA CURRICULAR</h3>
                        <img src="~/Imagem/extraCurri-img-conteudo.png" class="conteudo-img-esquerda"/>
                        <h4 class="subtitulo-conteudo"><b>Projeto ASP.NET MVC de Gestão de Vendas</b></h4>
                        <p class="curriculo-p"><b>Trabalho Voluntário</b></p>
                            <p class="curriculo-p">
                                Ajudei no desenvolvimento de um pequeno sistema
                                de gestão de vendas utilizando ASP.NET MVC, C
                                sharp e SQL Server. O sistema permite o registro
                                de vendedores, suas vendas e associação a
                                departamentos.
                            </p>

                        <h3 class="curriculo-h3">GitHub</h3>
                        <p class="curriculo-p">
                            "Olá! Se você está interessado em explorar alguns dos meus códigos e projetos,
                            fique à vontade para dar uma olhada.<a href="https://github.com/andreicode-lofi" alt="Github" target="_blank"> Aqui </a>
                            está o lugar onde compartilho minhas criações,
                            aprendizados e experimentos. 
                            Sinta-se à vontade para navegar e descobrir um pouco mais sobre meu trabalho.
                            Espero que você encontre algo interessante ou até mesmo inspirador! 
                            Se surgirem dúvidas ou comentários, estou sempre aberto para discussões e feedback.
                            Obrigado por dedicar um tempo para explorar meus códigos,
                            e espero que eles possam ser úteis ou interessantes para você."
                            <br />
                            <button class="btn btn-outline-primary botao-sunmit-jogo"><a href="https://github.com/andreicode-lofi" alt="Github" target="_blank">Visitar</a></button>
                        </p>

                        
                    </div>
               

                    <div class="container-conteudo">
                        <h3 class="curriculo-h3">Entre com login para ver mais sobre o meu portfólio.</h3>

                        <p class="curriculo-p">Seja bem-vindo! Estou muito feliz em tê-lo por aqui.
                            Entre com login para explorar mais do meu portfólio.
                            Se você precisar resgatar seu login ou senha, por favor,
                            entre em contato comigo via <a href="https://api.whatsapp.com/send?phone=5513992095436&text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas." alt="WhatsApp" target="_blank">WhatsApp</a>
                            ou via <a href="https://www.linkedin.com/in/andrey-souza-b34817142/" alt="linkedin" target="_blank">Linkdin</a>.
                            Estou aqui para ajudar e garantir que você tenha acesso total ao meu portfólio
                        </p>

                        <form asp-controller="Login" asp-action="GetLogin" method="post" class="login-form">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <img src="~/Imagem/login-index.png" class="foto-login" alt="login" />
                            <div>
                                <label class="form-label mt-4">Email:</label>
                                <input asp-for="Login" asp-fo type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                               @*<span asp-validation-for="Login"></span>*@
                                 @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                <label class="form-label mt-4">Password:</label>
                                <input asp-for="Senha" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                               @*  <span asp-validation-for="Senha"></span> *@
                                 @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                            </div>
                            <br />
                            <button type="submit" class="btn btn-outline-primary botao-sunmit-jogo">Entrar</button>
                        </form>

                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="text-danger">
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <p>@error.ErrorMessage</p>
                                }
                            </div>
                        }


                    </div>
                </div>

            </div>

            
        </section>
    </main>

    <footer>
        
    </footer>
</body>
